cloud_id                 = "1111111111111111111111111"
folder_id                = "22222222222222222222222222"
zone                     = "ru-central1-a"
image_id                 = "fd8c4e3uveresv2k83hd"
public_key_path          = "~/.ssh/yakey.pub"
subnet_id                = "e9b9gdbsjthlkef7143p"
service_account_key_file = "/path-to-key.json"
disk_name                = "disk1"
disk_type                = "network-ssd"